<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
	<form method="POST" action ="/save">
	<h3 label for="name">Name:</h3>
		<input type="text" name="name">
		<br />
	<h3 label for="quantity">Quantity:</h3>
		<input type="text" name="quantity">
		<br />
	<h3 label for="price">Price:</h3>
		<input type="text" name="price">
		<br />
	<input type="submit" value="Done!">
</body>
</html>